.header {
    padding: 20px;
}

.circle {
    background: #4A86E0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.circle-with-hole {
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    border: 2px solid #4A86E0;
}

.circle-with-hole::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.circle-grey {
    background: #D9D9D9;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.header__payment__status {
    gap: 20px;
}


.line{
    background-color: #4A86E0;
    height: 1px;
    width: 124px;
    border-radius: 20px;
}

.line-grey{
    background-color: #D9D9D9;
    height: 1px;
    width: 124px;
    border-radius: 20px;
}


.language-theme__switcher {
    gap: 20px;
}


@media(max-width: 1024px) {
    .header__payment__status .line{
        flex-grow: 1;
        width: auto;
    }

    .header__payment__status .line-grey{
        flex-grow: 1;
        width: auto;
    }
}

